name: Publish docs

on:
  push:
    branches:
      - "*"


jobs:
  publish-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Store short commit hash
        run: echo "short_commit_hash=$(git rev-parse --short "$GITHUB_SHA")" >> "$GITHUB_ENV"

      - name: Set up pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest
          run_install: false

      - name: Set up NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: latest
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build docs for commit
        run: pnpm run build
        env:
          CUSTOM_SITE_ENV: "https://loot-table-modifier.docs.offsetmonkey538.top/"
          CUSTOM_BASE_ENV: "/commit/${{ env.short_commit_hash }}"

      - name: Upload docs for commit to actions
        uses: actions/upload-artifact@v5
        with:
          name: Commit
          path: dist/


      - name: Delete built docs before building again
        run: rm -rf dist


      - name: Build docs for latest
        if: ${{ github.ref_name == 'docs' }}
        run: pnpm run build
        env:
          CUSTOM_SITE_ENV: "https://loot-table-modifier.docs.offsetmonkey538.top/"
          CUSTOM_BASE_ENV: "/latest"

      - name: Upload docs for latest to actions
        if: ${{ github.ref_name == 'docs' }}
        uses: actions/upload-artifact@v5
        with:
          name: Latest
          path: dist/
