name: Publish docs
#TODO add manual version too maybe? probably not?
on:
  push:
    branches:
      - "*"
  release:
    types: [published]


jobs:
  # TODO use the matrix thing to publish both for the commit and for latest. Actually probably not? Delete dist and run build again with just the env different. No need to redo setup
  publish-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Store short commit hash
        run: echo "short_commit_hash=$(git rev-parse --short "$GITHUB_SHA")" >> "$GITHUB_ENV"

      - name: Set up pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Set up NodeJS
        uses: actions/setup-node@v4
        with:
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build docs
        run: pnpm run build

      - name: Upload as artifact cause idk what else to do rn
        uses: actions/upload-artifact@v4
        with:
          name: Artifacts
          path: dist/


      #- name: Build and push
      #  uses: docker/build-push-action@v6
      #  with:
      #    context: .
      #    push: true
      #    tags: registry.oracle.offsetmonkey538.top/loot-table-modifier/docs:${{ env.short_commit_hash }}

      #- run: |
      #    tar -czf archive.tar.gz docker-compose.yml && curl -i -X POST -H "Authorization: Bearer $SEELF_TOKEN" -F environment=$SEELF_ENVIRONMENT -F archive=@archive.tar.gz $SEELF_APPLICATION_URL
      #  env:
      #    SEELF_TOKEN: ${{ secrets.SEELF_TOKEN }}
      #    SEELF_ENVIRONMENT: ${{ env.seelf_env }}
      #    SEELF_APPLICATION_URL: https://seelf.oracle.offsetmonkey538.top/api/v1/apps/300qBnG3t1dOFrUGfw1EeWYwKYA/deployments
